body {
  background-color: #e8e4e1;
  font-family: cursive, serif;
  width: 80%;
  margin: auto;
  line-height: 1.5;
}

h3 {
  margin: 5px auto 5px auto;
}

h1 {
  margin-top: 0;
}

h2 {
  margin: 10px auto 0;
}

.Headline{
  text-align: center;
}

.Headline_div1 {
  margin: auto;
  text-align: center;
  width: 60%;
}

.Heading_div2{
  width: 50%;
  margin: auto;
}

.Class{
  display: inline-block;
  text-align: left;
  margin-right: 117px;
}

.Academic{
  display: inline-block;
  /* text-align: right; */
  margin-left: 117px;
}

.Headline_div3{
  width: 50%;
  margin: 10px auto;
  text-align: center;
}

img {
  width: 50%;
}